.header {
    position: absolute;
    padding: 16px 24px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logoLink {
    display: flex;
  }

  .logo {
    width: 24px;
    height: auto;
  }
  
  .items {
    display: flex;    /* 追加 */
    color: #fff;
    gap: 40px;
  }

  @media (max-width: 640px) {
    .header {
      padding: 24px 16px 8px;
    }
  }
